<div class="d-flex element1" role="search">
    <div class="element1">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Departments
            </button>
            <!-- use *ngFor -->
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Electrical</a></li>
              <li><a class="dropdown-item" href="#">Piping</a></li>
              <li><a class="dropdown-item" href="#">Instrumentation</a></li>
              <li><a class="dropdown-item" href="#">All employees in the company (should be an empty option)</a></li>
            </ul>
          </div>
    </div>
    <button class="btn btn-outline-success" type="submit" (click)="searchdepts()">Search</button>
</div>

<div class="element2">
    <label class="text1">Employee</label>
    <span class="text2">
        <label class="switch">
            <input type="checkbox" id="togBtn" (click)="toggle()">
            <div class="slider round">
             <span class="on" value="1">ON</span>
             <span class="off" value="0">OFF</span>
            </div>
        </label>
    </span>
    <label class="text1">Department</label>
</div>

<!-- Employee Details -->
<div *ngIf="isToggled" class="content" role="main">

  <div class="mat-elevation-z8 cardtable">

    <h5 class="text1">Employee Details</h5>
    <button class="export" mat-raised-button color="primary" (click)="exporter.exportTable('xlsx', {fileName:'test', sheet: 'sheet_name', Props: {Author: 'Talha'}})">Export</button>
    <button class="import" mat-raised-button color="primary">Import</button>
    <button class="addButton" mat-raised-button color="primary" (click)="openPopup()">Add</button>
    <mat-form-field>
        <mat-label>
            Filter
        </mat-label>
        <input matInput placeholder="Filter" (keyup)="FilterChange($event)">
    </mat-form-field>
    <table mat-table matTableExporter [dataSource]="dataSource" #exporter="matTableExporter">

      <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
        <th mat-header-cell *matHeaderCellDef> {{column}} </th>
        <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
      </ng-container>
      <!-- Action Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element"> 
            <button mat-mini-fab color="primary" (click)="EditbuttonClicked(element.code)" aria-label="Example icon button with a delete icon">
                <mat-icon>edit</mat-icon>
            </button>&nbsp;
            <button mat-mini-fab color="primary" (click)="DeletebuttonClicked(element.code)" aria-label="Example icon button with a delete icon">
                <mat-icon>delete</mat-icon>
            </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumn"></tr>
      <tr (click)="getrow(row)" mat-row *matRowDef="let row; columns: displayedColumn;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10]"
                   showFirstLastButtons>
    </mat-paginator>
  </div>
</div>
<!-- Department Details -->
<div *ngIf="!isToggled" class="content">

  <div class="mat-elevation-z8 cardtable">
    <h5 class="text1">Department Details</h5>
    <button class="export" mat-raised-button color="primary" (click)="exporter.exportTable('xlsx', {fileName:'test', sheet: 'sheet_name', Props: {Author: 'Talha'}})">Export</button>
    <button class="import" mat-raised-button color="primary">Import</button>
    <mat-form-field>
        <mat-label>
            Filter
        </mat-label>
        <input matInput placeholder="Filter" (keyup)="FilterChange($event)">
    </mat-form-field>
    <table mat-table matTableExporter [dataSource]="dataDeptSource" #exporter="matTableExporter">

      <ng-container [matColumnDef]="col" *ngFor="let col of displayedDeptColumns">
        <th mat-header-cell *matHeaderCellDef> {{col}} </th>
        <td mat-cell *matCellDef="let element"> {{element[col]}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedDeptColumns"></tr>
      <tr (click)="getrow(row)" mat-row *matRowDef="let row; columns: displayedDeptColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10]"
                   showFirstLastButtons>
    </mat-paginator>
  </div>
</div>

<div
  class="modal"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{'display':displayStyle}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add Employee Details</h4>
      </div>
      <div class="modal-body">
        <p>Add all details below</p>
  
        <!-- add here -->
        <mat-form-field appearance="fill"  *ngFor="let empcol of popUpdata1">
          <mat-label>{{empcol | titlecase}}</mat-label>
          <input matInput>
        </mat-form-field>

        <mat-form-field appearance="fill" *ngFor="let empcols of popUpdata2">
          <mat-label>{{empcols | titlecase}}</mat-label>
          <mat-select>
            <mat-option value="one">First option</mat-option>
            <mat-option value="two">Second option</mat-option>
          </mat-select>
        </mat-form-field>
        <!-- end -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" 
                (click)="closePopup()">
          Add
        </button>
      </div>
    </div>
  </div>
</div>
