table {
  width: 100%;
}

.content{
  display: block;
  margin: 20px;
  flex-direction: column;
  align-items: center;
}

.cardtable {
  padding: 20px;
}

.export {
  float: right;
}

.import {
  float: right;
  right: 10px;
}

.element1 {
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.element2 {
    padding-left: 30px;
}

.text1 {
    font-size: 25px;
}

.text2 {
    margin-left: 10px;
    margin-right: 10px;
    top:10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 90px;
    height: 34px;
    top: 10px;
  }
  
  .switch input {display:none;}
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #6e6868;
    -webkit-transition: .4s;
    transition: .4s;
  }

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2ab934;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(55px);
    -ms-transform: translateX(55px);
    transform: translateX(55px);
  }
  
  /*------ ADDED CSS ---------*/
  .on
  {
    display: none;
}

.on, .off
{
  color: white;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  font-size: 10px;
  font-family: Verdana, sans-serif;
}

input:checked+ .slider .on
{display: block;}

input:checked + .slider .off
{display: none;}

/*--------- END --------*/

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;}